
<% content_for :tiny_js do %>

    <%= javascript_pack_tag 'vueapp' %>
       
<% end %>
<div class="container-fluid p-4 text-white" style="background:#343a40;">
    <div class="container">
      <div class="row">
        <div class="col-10 d-flex align-items-center flex-row">
          <span>Villa del Palmar en las Islas de Loreto by Danzante Bay | Departamento de E Marketing</span>
        </div>
        <div class="col-2">
        <img src="https://villagrouploreto.s3-us-west-2.amazonaws.com/firmae/logo-blanco.png" class="img-fluid">
        </div>
      </div>
    </div>
    
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-12">
        <h1 class="py-3 text-center">GENERADOR DE FIRMA DE CORREO</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <p>Generador de firma digital para el correo de colaboradores de Villa del Palmar en las Islas de Loreto by Danzante Bay. Coloca tus datos personales para crear tu firma de correo personalizada.</p>
        </div>
    </div>
    
    
<div id="app" class="section">
      
      <hr>
      <div class="container">
        <div class="row">
                <div class="col-4 mt-5">
                    <div class="form-group">
                        <button id="btn-copy" class="form-control btn btn-success"  v-on:click="copyFirma"> Copiar Firma VDPL </button>
                    </div>
                </div>
                <div class="col-4 mt-5">
                    <div class="form-group">
                        <button id="btn-copy" class="form-control btn btn-success"  v-on:click="copyFirmaDanzante"> Copiar Firma Danzante </button>
                    </div>
                </div>
                <div class="col-4 mt-5">
                    <div class="form-group">
                        <button id="btn-copy" class="form-control btn btn-success"  v-on:click="copyFirmaTPC"> Copiar Firma TPC </button>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <div class="row">
            <person-data v-bind:name="name" v-bind:email="email" v-bind:number="number" v-bind:position="position"></person-data>
            </div>
        
        </div>
        <hr>
      
      </div>
    
  </div>
</div>
