
<% content_for :tiny_js do %>
  <style type="text/css">
          h1,h2,h3,h4,h5,h6,p,a,span,td,strong {
            font-family: Arial, Verdana, sans-serif !important;
          }
          .table__logo{
            text-align: right;
          }
          .table__position,.table__name{
            color: #000;
            font-size: 19px;
          }
          .table__cell-b1{
            border: 1px solid #00B050;
            border-top: 0;
            border-left: 0;
          }
          .table__cell-c1{
            border: 1px solid #00B050;
            border-top: 0;
            border-right: 0;
            padding-left: 12px;
          }
          .table__cell-b2{
            border: 1px solid #00B050;
            border-bottom: 0;
            border-left: 0;
          }
          .table__cell-c2{
            border: 1px solid #00B050;
            border-bottom: 0;
            border-right: 0;
            padding-left: 12px;
          }
          p, .icon{
              color: #9D9D9D;
              margin: 5px 0;
              font-size: 14px;
              line-height: 1;
          }
          a{
             color: #9D9D9D !important;
          }
        </style>
    <%= javascript_pack_tag 'milenioapp' %>
<% end %>

<div class="container-fluid p-4 text-white" style="background:#343a40;">
    <div class="container">
      <div class="row">
        <div class="col-10 d-flex align-items-center flex-row">
          <span>Grupo Milenio</span>
        </div>
        <div class="col-2">
        <img src="https://villagrouploreto.s3-us-west-2.amazonaws.com/firmae/logo-blanco.png" class="img-fluid">
        </div>
      </div>
    </div>
    
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-12">
        <h1 class="py-3 text-center">GENERADOR DE FIRMA DE CORREO</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <p>Generador de firma digital para el correo de colaboradores de Grupo Milenio. Coloca tus datos personales para crear tu firma de correo personalizada.</p>
        </div>
    </div>
    
    
<div id="app-milenio" class="section">
      
      <hr>
      <div class="container">
        <div class="row">
                <div class="col-4 mt-5">
                    <div class="form-group">
                        <button id="btn-copy" class="form-control btn btn-success"  v-on:click="copyFirma"> Copiar Firma VDPL </button>
                    </div>
                </div>
               
            </div>
            <br>
            <hr>
            <div class="row">
            <person-data v-bind:name="name" v-bind:email="email" v-bind:number="number" v-bind:position="position" v-bind:time_schedule="time_schedule"></person-data>
            </div>
        
        </div>
        <hr>
      
      </div>
    
  </div>
</div>
